@import 'tailwindcss';

@theme {
  --color-bgI: #1f201f;
  --color-bgII: #272822;
  --color-highlight: #414338;
  --color-text: #dedede;
  --color-chat-bg: #2f312f;
}

@layer base {
  html {
    font-size: clamp(16px, 1.35vw - 20px, 42px);
  }
}
