@import 'tailwindcss';

@theme {
  --color-bgI: #1f201f;
  --color-bgII: #272822;
  --color-highlight: #414338;
  --color-text: #dedede;
  --color-chat-bg: #2f312f;
}

:root {
  --app-font-size: clamp(14px, 1.35vw - 20px, 42px);
  --chat-body-font-size: calc(var(--app-font-size) * 0.9);
  --chat-toolbar-font-size: calc(var(--app-font-size) * 0.7);
  --chat-icon-size: calc(var(--app-font-size) * 0.8);
}

@layer base {
  html {
    font-size: var(--app-font-size);
  }
}
